// Color
$blue: #3b42c4;
$white: #FFFFFF;
$black: #000000; 
$yellow: #fdf150;

*:not(ul):not(ol):not(blockquote) {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body, div, span, img, a, p, h1, h2, h3, 
h4, h5, h6, option, legend, label, 
table, th, td, tr, article, aside, 
caption, figure, footer, header, hgroup, 
mark, nav, section, time, audio, video {
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0;
}

table {
	border-collapse: collapse;
}

html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

$nunito: "Nunito Sans", sans-serif;
$grotesque: "Bricolage Grotesque", sans-serif;

body {
	margin: 0;
	width: 100%;
	color: #000000;
	min-height: 100%;
	position: relative;
	background: $white;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font: 400 16px/24px "Bricolage Grotesque", sans-serif;
}

section {
	padding: 50px 0;
}

input[type="text"]:not(.select2-input),
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="password"],
input[type="file"],
select, textarea {
	@include appearance;
	width: 100% !important;
	color: #282525 !important;
	font-size: 16px !important;
	font-weight: 500 !important;
	box-shadow: none !important;
	line-height: 22px !important;
	background: transparent !important;
	padding: 22px 14px 26px !important;
	@include transition(all 0.3s ease);
	border: 1px solid #D3D6E0 !important;
	@include border-radius(4px !important);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	@include placeholder(#282525, 16px, 500);

	&:hover, &:focus {
		outline: 0;
	}
}

hr {
	margin: 0;
	padding: 0;
	border-width: 1px;
	border-color: #F4DCC2;
}

a, button {

	&:hover, &:focus {
		outline: 0;
		text-decoration: none;
	}
}

p {
	margin: 0 0 30px;
}

h1, .h1 { font-size: 64px; line-height: 1.1; }
h2, .h2 { font-size: 48px; line-height: 1.1; }
h3, .h3 { font-size: 36px; line-height: 1.2; }
h4, .h4 { font-size: 30px; line-height: 1.3; }
h5, .h5 { font-size: 24px; line-height: 1.4; }
h6, .h6 { font-size: 20px; line-height: 1.4; }

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
	color: $black;
	font-weight: 900;
	margin-bottom: 0;
	font-family: $nunito;
}

.btn {
	border: 0;
	outline: 0;
	z-index: 1;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 900;
	overflow: hidden;
	line-height: 24px;
	background: $blue;
	position: relative;
	border-radius: 500px;
	font-family: $nunito;
	display: inline-block;
	letter-spacing: 0.8px;
	box-sizing: content-box;
	padding: 18px 25px 16px;
	text-transform: uppercase;
	box-shadow: none !important;
	@include transition(all 0.3s ease);

	&:before {
		top: 50%;
		width: 0;
		height: 0;
		left: 50%;
		z-index: -1;
		content: "";
		position: absolute;
		display: inline-block;
		box-sizing: border-box;
		@include transition(all 0.3s ease);
	}

	&:active, &:hover, &:focus {
		outline: 0;
		color: $black !important;

		&:before {
			top:0;
			left: 0;
			width: 100%;
			height:100%;
			background: $yellow;
	   	}
	}
}

.desc-big {
	font-size: 18px;
	line-height: 28px;

	@media only screen and (max-width: 480px) {
		font-size: 16px;
		line-height: 22px;
	}
}

.container {
	width: 100%;
	max-width: 1340px;
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.container-fluid {
	padding-left: 30px;
	padding-right: 30px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.lr-10 {
	margin-left: -10px;
	margin-right: -10px;

	>[class*="col"] {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.lr-0 {
	margin-left: -0px;
	margin-right: -0px;

	>[class*="col"] {
		padding-left: 0px;
		padding-right: 0px;
	}
}

.list-inline {
	margin-left: -5px;
	margin-right: -5px;

	li {
		padding-left: 5px;
		padding-right: 5px;
		display: inline-block;
	}
}

.fluid {
	max-width: 100% !important;

	br {
		display: none;
	}

	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6, p, 
	.entry-title, .description, .block-content, 
	.content, .testi-item, .quote, 
	.missionvission__content, .content__editor, .text {
		max-width: 100% !important;
	}
}

.blankSpace {
    top: -100px !important;
    display: block !important;
    position: relative !important;
    visibility: hidden !important;
}