.icon-arrow-down:before { content: '\e800'; }
.icon-arrow-left:before { content: '\e801'; }
.icon-arrow-right:before { content: '\e802'; }
.icon-arrow-up:before { content: '\e803'; }
.icon-close:before { content: '\e804'; }
.icon-headphones:before { content: '\e805'; }
.icon-linkedin-squared:before { content: '\e806'; }
.icon-phone:before { content: '\e807'; }
.icon-lock:before { content: '\e808'; }
.icon-calendar-outlilne:before { content: '\e809'; }
.icon-diamond:before { content: '\e80a'; }
.icon-version:before { content: '\e80b'; }
.icon-twitter:before { content: '\e80c'; }
.icon-tiktok:before { content: '\e80d'; }
.icon-rss:before { content: '\f09e'; }
.icon-gplus:before { content: '\f0d5'; }
.icon-linkedin:before { content: '\f0e1'; }
.icon-youtube:before { content: '\f16a'; }
.icon-instagram:before { content: '\f16d'; }
.icon-vkontakte:before { content: '\f189'; }
.icon-qq:before { content: '\f1d6'; }
.icon-wechat:before { content: '\f1d7'; }
.icon-pinterest:before { content: '\f231'; }
.icon-whatsapp:before { content: '\f232'; }
.icon-clone:before { content: '\f24d'; }
.icon-reddit-alien:before { content: '\f281'; }
.icon-snapchat-ghost:before { content: '\f2ac'; }
.icon-quora:before { content: '\f2c4'; }
.icon-telegram:before { content: '\f2c6'; }
.icon-facebook-squared:before { content: '\f308'; }
.icon-facebook:before { content: '\f30c'; }
.icon-sina-weibo:before { content: '\f33f'; }