@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}

	80% {
		-webkit-transform: translateY(-3px);
		transform: translateY(-3px);
	}
}

@keyframes shake {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	40% {
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}

	80% {
		-webkit-transform: translateX(-3px);
		transform: translateX(-3px);
	}
}