/**********************************
MEDIA QUERIES
***********************************/
@media only screen and (max-width: 1199px) {
	.btn {
	    font-size: 16px;
	    line-height: 22px;
	    letter-spacing: 0.5px;
	    padding: 15px 20px 13px;
	}

	/**********************************
	HOME STYLE
	***********************************/
	.banner {
	    padding-bottom: 80px;
	}

	.communication {
		padding: 80px 0;

		.entry-title {
		    max-width: 100%;
		    margin-bottom: 40px;
		}

		&__item {
		    padding: 30px;
		}
	}

	.qualification {
	    padding: 80px 0;

	    .entry-title {
		    max-width: 100%;
		    margin-bottom: 40px;
		}

		&__item {
		    margin-bottom: 60px;

		    .text {
			    max-width: 100%;
			}
		}
	}

	.trusted {
	    padding: 80px 0;

	    .btn {
		    margin-top: 40px;
		}
	}

	.testimonial {
		padding: 80px 0;

		.background {

			.media {
			    max-width: 520px;
			    min-width: 520px;
			}
		}
	}

	.success-stories {
	    padding: 80px 0;

	    .entry-title {
		    max-width: 100%;
		    margin-bottom: 40px;
		}

		&__item {

			.text {
			    padding: 25px;
			    padding-top: 20px;
			}
		}
	}

	.step-started {
	    padding: 80px 0;

	    .entry-title {
		    max-width: 100%;
		    margin-bottom: 40px;
		}
	}

	.faqs {
	    padding: 80px 0;

	    .entry-title {
		    max-width: 100%;
		    margin-bottom: 40px;
		}
	}

	.call-action {
	    padding: 80px 0;
	}

	.contact-us {
	    padding: 60px 0 80px;
	}

	/**********************************
	BLOG PAGE STYLE
	***********************************/
	.blog-page {
	    padding: 80px 0;
	}

	.blog-details {
		padding-bottom: 80px;
	}

}/* 1199 */

@media only screen and (max-width: 991px) {
	h1, .h1 { font-size: 44px; }

	.container, .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }

	/**********************************
	HEADER STYLE
	***********************************/
	.header {

		.navbar {

			.navbar-collapse {
				flex-grow: initial;

				.navbar-nav {

					> li {

						&.menu-btn {

							> a {
							    font-size: 14px;
							    line-height: 20px;
							    padding: 13px 16px 11px;
							}
						}
					}
					
					&:not(.navbar-nav-right) {
                        
                        > li {
                        	display: none;
                        }
                    }
				}
			}
		}
	}

	/**********************************
	HOME STYLE
	***********************************/
	.banner {
	    padding-bottom: 60px;
	}

	.communication {
		padding: 60px 0;

		.entry-title {
		    margin-bottom: 30px;
		}

		&__item {
		    padding: 20px;
		}
	}

	.qualification {
	    padding: 60px 0;

	    .entry-title {
		    margin-bottom: 30px;
		}

		&__item {
		    margin-bottom: 50px;

		    .media {
		    	margin-bottom: 15px;
			    border-radius: 24px;
			}
		}
	}

	.trusted {
	    padding: 60px 0;

	    .entry-title {
		    margin-bottom: 20px;
		}

	    .btn {
		    margin-top: 30px;
		}
	}

	.testimonial {
		padding: 60px 0;

		.background {
			display: block;
			border-radius: 24px;

			.media {
			    max-width: 100%;
			    min-width: 100%;
			    margin-bottom: 20px;
			    border-top-right-radius: 0;
			}

			.text {
				padding: 25px;
				padding-top: 0;
			    max-width: 100%;
			}
		}
	}

	.success-stories {
	    padding: 60px 0;

	    .entry-title {
		    margin-bottom: 30px;
		}

		&__item {
			border-radius: 24px;

			.text {
			    padding: 20px;
			    padding-top: 15px;
			}
		}
	}

	.step-started {
	    padding: 60px 0;

	    .entry-title {
		    margin-bottom: 30px;
		}

		&__item {
			border-radius: 24px;
		}
	}

	.faqs {
	    padding: 60px 0;

	    .entry-title {
		    margin-bottom: 30px;
		}

		&__accordion {

			.card {

			    &:before {
				    left: 15px;
				    top: 14.5px;
				    width: 40px;
				    height: 40px;
				    font-size: 13px;
				}

				.card-header {
				    font-size: 20px;
				    line-height: 28px;
				    margin-left: 50px;
				}

				.card-body {
				    margin-left: 50px;
			        padding-top: 15px;

					.content__editor {
					    font-size: 18px;
					}
				}
			}
		}
	}

	.call-action {
	    padding: 60px 0;

	    .background {
	    	border-radius: 24px;

	    	.media {
			    margin-right: 25px;
			    border-radius: 18px;
			}
	    }
	}

	.contact-us {
	    padding: 50px 0 60px;

	    &__content-area {
	    	margin-bottom: 30px;

	    	.entry-title {
	    		max-width: 100%;
	    	}
	    }
	}
	
	/**********************************
	BLOG PAGE STYLE
	***********************************/
    .blog-posts {
    	margin-bottom: 40px;

    	.content__editor {
		    font-size: 18px;
		    line-height: 30px;

		    p {
		    	margin: 0 0 25px;

		    	&:last-child {
		    		margin: 0;
		    	}
		    }
		}
    }

	.blog-page {
	    padding: 60px 0;
	}

	.blog-details {
		padding-bottom: 60px;
	}

	div[data-sticky_column] + div[style*="position:"] {
	    display: none !important;
	}

	.is_stuck {
	    position: initial !important;
	    width: initial !important;
	    top: initial !important;
	}

	/**********************************
	FOOTER STYLE
	***********************************/
	.footer {
	    padding: 60px 0;
	}

}/* 991 */

@media only screen and (max-width: 767px) {
    h1, .h1 { font-size: 38px; }
    h2, .h2 { font-size: 34px; }
    h3, .h3 { font-size: 28px; }

    .content__editor {
	    font-size: 16px;
	    line-height: 26px;

	     p {
	     	margin: 0 0 25px;
	     }
	}

	/**********************************
	HOME STYLE
	***********************************/
	.banner {
	    padding: 50px 0;

	    &__text {
	    	max-width: 100%;
	    	margin-bottom: 30px;
	    }
	}

	.communication {
		padding: 50px 0;

		.entry-title {
		    margin-bottom: 25px;
		}

		&__item {
		    
		    .text {
			    margin-bottom: 20px;
			}
		}
	}

	.qualification {
	    padding: 50px 0;

	    .entry-title {
		    margin-bottom: 25px;
		}

		&__item {
		    margin-bottom: 40px;
		}
	}

	.trusted {
	    padding: 50px 0;

	    .entry-title {
		    margin-bottom: 15px;
		}

	    .btn {
		    margin-top: 25px;
		}
	}

	.testimonial {
		padding: 50px 0;
	}

	.success-stories {
	    padding: 50px 0;

	    .entry-title {
		    margin-bottom: 25px;
		}
	}

	.step-started {
	    padding: 50px 0;

	    .entry-title {
		    margin-bottom: 25px;
		}
	}

	.faqs {
	    padding: 50px 0;

	    .entry-title {
		    margin-bottom: 25px;
		}

		&__accordion {

			.card {
				border-radius: 12px;

			    &:before {
			        left: 12px;
			        top: 16px;
			        width: 32px;
			        height: 32px;
			        font-size: 9px;
				}

				.card-header {
			        font-size: 18px;
			        line-height: 24px;
			        margin-left: 35px;
				}

				.card-body {
				    margin-left: 35px;
			        padding-top: 10px;

					.content__editor {
					    font-size: 24px;
					}
				}
			}
		}
	}

	.call-action {
	    padding: 50px 0;

	    .background {

	    	.media {
			    margin-right: 0;
				max-width: 100%;
				min-width: 100%;
				margin-bottom: 12px;
			}
	    }
	}

	.contact-us {
	    padding: 40px 0 50px;

	    &__form {
		    padding: 20px;
		    border-radius: 16px;
		}
	}

	/**********************************
	BLOG PAGE STYLE
	***********************************/
    .blog-posts {

    	&__header {

    		.post-meta {
				margin-left: -10px;
				margin-right: -10px;

    			> li {
					padding-left: 10px;
					padding-right: 10px;

    				> a {
					    font-size: 18px;
					    line-height: 26px;

					    &.icon-calendar {

					    	&:before {
							    font-size: 17px;
							}
					    }

					    &:before {
						    font-size: 20px;
						}
					}
    			}
    		}
    	}
    }

	.blog-page {
	    padding: 50px 0;
	}

	.blog-details {
		padding-bottom: 50px;
	}

	/**********************************
	FOOTER STYLE
	***********************************/
	.footer {
	    padding: 50px 0;
	}

	.social-media {

		li {

			a {
				width: 36px;
				height: 36px;
				font-size: 14px;
				line-height: 14px;

				&.icon-twitter {
					font-size: 13px;
					line-height: 13px;
				}
			}
		}
	}

}/* 767 */

@media only screen and (max-width: 575px) {
    h1, .h1 { font-size: 36px; }
    h2, .h2 { font-size: 32px; }
    h3, .h3 { font-size: 26px; }
    h4, .h4 { font-size: 24px; }
    h5, .h5 { font-size: 22px; }

	.container, .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .btn {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.4px;
        padding: 13px 15px 11px;
    }

    .content__editor {
	    
	    p {
	    	margin: 0 0 20px;
	    }
	}
	/**********************************
	HEADER STYLE
	***********************************/
	.header-gutter {
	    height: 100px;
	    min-height: 100px;
	}

	.header {

		.navbar {
			border-radius: 12px;

			.navbar-header {

				.logo {

					.navbar-brand {

						img {
						    max-width: 145px;
						}
					}
				}
			}

			.navbar-collapse {

				.navbar-nav {

					> li {

						&:not(.mobile-navbar-toggler) {
							display: none;
						}
					}
				}
			}
		}
	}

	/**********************************
	HOME STYLE
	***********************************/
	.banner {
	    padding: 30px 0 40px;
	}

	.communication {
		padding: 40px 0;
	}

	.qualification {
	    padding: 40px 0;

		&__item {
		    margin-bottom: 30px;

		    .media {
		        border-radius: 16px;

		        &.has-video {

		        	video {
					    height: 330px;
					}
		        }
		    }

		    .text {

		    	.btn {
				    font-size: 14px;
				    margin-top: 15px;
				    line-height: 20px;
				}
		    }
		}
	}

	.trusted {
	    padding: 40px 0;

	    .entry-title {
		    margin-bottom: 10px;
		}

	    .btn {
		    margin-top: 20px;
		}
	}

	.testimonial {
		padding: 40px 0;

		.background {
	        border-radius: 16px;

		    .text [class*=icon-] {
			    font-size: 20px;
			    line-height: 20px;
			}
	    }
	}

	.success-stories {
	    padding: 40px 0;

	    &__item {
	    	border-radius: 16px;
	    }
	}

	.step-started {
	    padding: 40px 0;

	    &__item {
	    	padding: 25px;
	        border-radius: 16px;
	    }
	}

	.faqs {
	    padding: 40px 0;

		&__accordion {

			.card {
				border-radius: 8px;

			    &:before {
			        top: 17px;
			        left: 10px;
			        width: 28px;
			        height: 28px;
			        font-size: 8px;
				}

				.card-header {
			        font-size: 16px;
			        line-height: 22px;
			        margin-left: 30px;
				}

				.card-body {
			        padding-top: 5px;
				    margin-left: 30px;
				}
			}
		}
	}

	.call-action {
	    padding: 40px 0;

	    .background {
    	    padding: 20px;
	    	border-radius: 16px;

	    	.text {
			    max-width: 100%;

			    .description {
				    margin-top: 5px;
				}
			}
	    }
	}

	.contact-us {
	    padding: 30px 0 40px;

	    &__content-area {
	    	margin-bottom: 25px;

	    	.entry-title {

	    		.description {
				    margin-top: 5px;
				}
	    	}

	    	.quick-contact {
			    margin-top: 15px;
			}
	    }

	    &__form {
		    padding: 20px;
		    border-radius: 16px;
		}
	}

	/**********************************
	BLOG PAGE STYLE
	***********************************/
    .blog-posts {

    	.featured-img {
		    margin-bottom: 20px;
		}

		.content__editor {

			p {
		        margin: 0 0 20px;
		    }
		}
    }

    .pagination {

		a:not(.btn) {

			[class*="icon-"] {
				width: 54px;
				height: 54px;
				font-size: 16px;
			}
		}

		.float-left {

			a {

				i {
				    margin-right: 10px;
				}
			}
		}

		.float-right {

			a {

				i {
				    margin-left: 10px;
				}
			}
		}
	}

	.blog-page {
	    padding: 40px 0;
	}

	.blog-details {
		padding-bottom: 40px;

		&__banner {

			.media {
				border-radius: 16px;

				&.popup-video {

					&:before {
					    width: 70px;
					    height: 70px;
					    font-size: 20px;
					    top: calc(50% - 35px);
					    left: calc(50% - 35px);
					}
				}
			}
		}
	}
	/**********************************
	FOOTER STYLE
	***********************************/
	.footer {
	    padding: 40px 0;
	}

}/* 575 */

@media only screen and (max-width: 480px) {
    h1, .h1 { font-size: 34px; }
    h2, .h2 { font-size: 30px; }
    h3, .h3 { font-size: 24px; }
    h4, .h4 { font-size: 22px; }
    h5, .h5 { font-size: 20px; }
	/**********************************
	HOME PAGE STYLE
	***********************************/
	.banner {

		&__text {

			.description {
			    margin-top: 5px;
			}

			.btn {
			    margin-top: 15px;
			}
		}
	}

	.testimonial {

		.background {

		    .text {
			    padding: 20px;
		    	padding-top: 0;
			}
	    }
	}

	.step-started {

	    &__item {
	        padding: 20px;

	    	.step {
			    font-size: 20px;
			    line-height: 30px;
			}

	    	.media {
			    margin: 20px 0;
			}

	    	.description {
			    font-size: 18px;
			    line-height: 26px;
			    padding-top: 10px;
			}
	    }
	}

	.faqs {

		&__accordion {

			.card {
			    padding: 15px;
			    margin-bottom: 10px;

			    &:before {
			        top: 13px;
			        width: 24px;
			        height: 24px;
				}

				.card-header {
			        font-size: 14px;
			        line-height: 20px;
			        margin-left: 28px;
				}

				.card-body {
				    margin-left: 28px;

				    .content__editor {
				        font-size: 14px;
				    }
				}
			}
		}
	}

}/* 480 */